{% extends "base.html" %}

{% block title %}WifiBox - About{% endblock %}
{% block content %}

<p>WifiBox makes interesting, usefull and generally interesting content available via WiFi. If you're seeing this it's because you're on the WifiBox wireless access point, and you're not using your airtime to view these videos etc.</p>

<p>All the content on this site is made available for free. Most of it is Creative Commons, Open Source or licenced with permission. We encourage you to redistribute the content.</p>

{% endblock %}
